.header {
    grid-area: h;
    background-color: #424142;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-bottom: 5px;
  }
  
  .header img {
    width: 170px;
    border-radius: 6px;
    margin-left: 20px;
    margin-top: 10px;
  }

.loginBlock a {
  color: white;
}
  
.loginBlock {
float: right;
padding-right: 20px;
padding-top: 10px;
}